* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body, html {
  width:100%;
  height: 100%;
  background-color: #3AAFA9;
  margin: 5px;
}

.container{
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.box{
  width: 50%;
  height: 140px;
  float:left;
}
.box1{
  background-color: #3AAFA9;
  text-align: center;
  padding-top: 20px;
}
.box2{
  background-color: #3AAFA9;
  height: 140px;
  text-align: left;
}
.box2 img{
  width: 160px;
}
.box3, .box3 img{
  background-color: #3AAFA9;
  width: 50%;
  height: 160px;
  text-align: left;
}
.box4, p{
  background-color: #3AAFA9;
  height: 160px;
  font-family: cursive;
  font-size: 82%;
}
.box5{
  background-color: #3AAFA9;
  height: 160px;
}
table, th, td{
  border: solid;
  border-collapse: collapse;
  width: inherit;
  margin-bottom: 10px;
}

/*Historical Places*/
ul{
  color: black;
}
h4 {
  color: black;
}
h5{
  font-family: fantasy;
}
h6{
  font-family: fantasy;
}

.box6{
  background-color: #3AAFA9;
  height: inherit;
  font-style: italic;
  font-size: 120%;
}
/*Historical Places Text 1*/
.box7{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 1*/
.box8, .box8 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
/*Historical Places Text 2*/
.box9{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 2*/
.box10, .box10 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
/*Historical Places Text 3*/
.box11{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 3*/
.box12, .box12 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
.clearfix{
  clear: both;
}

/*Respondsive Tablet*/
@media (max-width:768px) {
  .box3, .box4, .box5, .box6{
    width: 99%;
  }
  .box3{
    height: 200px;
  }
  .box4{
    width:60%;
    height: 180px;
  }
  .box2{
    margin-top: 25px;
  }

  .box7, .box8, .box9, .box10, .box11, .box12{
    width: 50%;
    font-size: 16px;
  }
  .box8 img, .box12 img{
    width: 80%;
    margin-left: -5px;
  }
  .box10 img{
  width: 80%;
  margin-left: 25px;
  }
  .box9, .box10{
    width: 50%;
    float: right;
  }
  .box3 img{
    width:50%;
  }
  .box5{
    width: -20px;
  }
h3{
  margin-bottom: 15px;
}
.place{
  margin-bottom: 15px;
}
p{
  font-size: 14px;
}
.Bokaap{
    margin-left: 327px;
    padding-top: 529px;
    margin-bottom: 5px;
}
.city{
    margin-left: 327px;
    padding-top: 5px;
    margin-bottom: 7px;
}
.District{
  margin-left: 327px;
  padding-top: 5px;
  margin-bottom: 7px;
}
.box8{

}
.box10{

}
.box12{

}
h6{
  font-size: 20px;
  text-align: center;
}
}

/*Respondsive on Laptop*/
@media (min-width:769px){
  .box1, .box2{
    height:200px;
    font-size: 25px;
  }
  .box2{
    margin-top: 20px;
    margin-left: -123px;
  }
  h2{
    font-size: 30px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    margin-left: -53px;
  }
  .box3 img{
    height:200px;
    width: 66.67%;
  }
  .box3{
    height:200px;
    width: 50%;
    font-family: fantasy;
  }
  .box3, .box3 img{
    padding-bottom:30px;
  }
  .box4 {
    margin-top: 46px;
    width: 50%;
    margin-left: -94px;
    height: 212px;
  }

  .box5{
    width: 99%;
    height: 200px;
  }
  .box6{
    width: 100%;
    height: 70px;
  }
  h3{
      padding-top: 20px;
      margin-left: -30px;
  }
  .box7, .box8, .box9, .box10, .box11, .box12{
    width: 15.5%;
    height:250px;
    margin: 5px;
  }

  h3{
    margin-top:15px;
  }
  .place{
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .Bokaap{
    padding-top: 469px;
    margin-bottom: 5px;
    margin-left: 124px;
  }
  .city{
    margin-bottom: 5px;
    margin-top: -23px;
    margin-left: 466px;
  }
  .District{
    margin-bottom: 5px;
    margin-top: -23px;
    margin-left: 777px;
  }
  .box8{

  }
  .box10{

  }
  .box12{

  }
  .box8,.box10,.box12{

  }
  h6{
    font-size: 30px;
    text-align: center;
  }
}

/*Mobile Meduim */
@media (max-width:425px) {
  .box2 img{
  width: 90%;
  }
  .box7, .box8, .box9, .box10, .box11, .box12{
    height: 165px;
  }
  .box8, .box10, .box12{
    width: 50%;
  }
  .box8 img, .box10 img, .box12 img{
    width: 80%;
    margin-left: 10px;

  }
  .box4{
    height: 407px;
  }
  .box5{
    margin-bottom: 20px;
    height: 190px;
    width: 98%;
  }
  h3{
    margin-bottom: 2px;
    font-size: 25px;
  }
  .place{
    margin-bottom: -5px;
  }
  p{
    font-size: 15.6px;
  }
  .Bokaap{
    padding-top: 788px;
    margin-bottom: 5px;
    margin-left: 173px;
  }
  .city{
    margin-bottom: 5px;
    margin-left: 173px;
  }
  .District{
    margin-bottom: 5px;
    margin-left: 145px;
  }
  .box8{

  }
  .box9{
    width: 46%;
    margin-right: 10px;
  }
  .box10{

  }
  .box12{

  }
  }
  @media (max-width:375px) {
    .box2 img{
      width: 95%;
    }
    .Bokaap{
    padding-top: 786px;
    margin-left: 152px;
    }
    .box5{
    width: 97%;
    }
    .city{
      margin-left: 149px;
    }
    .District{
      margin-left: 98px;
    }
    .box8{

    }
    .box10{

    }
    .box12{

    }
    .box7, .box8, .box9, .box10, .box11, .box12{
      height: 165px;
    }
    .box8, .box10, .box12{
      width: 50%;
    }
    .box8 img, .box10 img, .box12 img{
      width: 80%;
      margin-left: 10px;
    }
    .box4{
      height: 396px;
    }
    .box5{
      margin-bottom: 20px;
      height: 190px;
    }
    h3{
      margin-bottom: 15px;
    }
    .place{
      margin-bottom: -5px;
    }
    p{
      font-size: 14px;
    }
    h4{
      margin-top: 15px;
      margin-left: -20px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
  /*MOBILE SMALL*/
  @media (max-width:320px) {
    .box2 img{
      width: 95%;
    }
    .Bokaap{
    padding-top: 786px;
    margin-left: 129px;
    }
    .box5{
    width: 97%;
    }
    .city{
      margin-left: 129px;
    }
    .District{
      margin-left: 98px;
    }
    .box8{

    }
    .box10{

    }
    .box12{

    }
    .box7, .box8, .box9, .box10, .box11, .box12{
      height: 165px;
    }
    .box8, .box10, .box12{
      width: 50%;
    }
    .box8 img, .box10 img, .box12 img{
      width: 80%;
      margin-left: 10px;
    }
    .box4{
      height: 396px;
    }
    .box5{
      margin-bottom: 20px;
      height: 190px;
    }
    h3{
      margin-bottom: 15px;
    }
    .place{
      margin-bottom: -5px;
    }
    p{
      font-size: 13.5px;
    }
    h4{
      margin-top: 15px;
      margin-left: -20px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
  /*Respondsive on Laptop Large*/
  @media (min-width:1025px){
    .box1, .box2{
      height:200px;
      font-size: 25px;
    }
    .box2{
      margin-top: 20px;
      margin-left: -160px;
    }
    p {
      font-size: 16px;
      margin-left: -62px;
    }
    .box3 img{
      height:200px;
      width: 66.67%;
    }
    .box3{
      height:200px;
      width: 50%;
    }
    .box3, .box3 img{
      padding-bottom:30px;
    }
    .box4 {
      width: 50%;
      margin-left: -160px;
      height: 218px;
      margin-top: 43px;
    }

    .box5{
      width: 99.5%;
      height: 200px;
    }
    .box6{
      width: 100%;
      height: 70px;
    }
    h3{
        padding-top: 20px;
    }
    .box7, .box8, .box9, .box10, .box11, .box12{
      width: 15.5%;
      height:250px;
    }

    h3{
      margin-top:15px;
      margin-left: -61px;
    }
    .place{
      margin-top: -5px;
      margin-bottom: 15px;
    }
    .Bokaap{
      margin-left: 188px;
    }
    .city{
      margin-left: 658px;
    }
    .District{
      margin-left: 1097px;
    }
    .box8{

    }
    .box10{

    }
    .box12{

    }
    h6{
      font-size: 30px;
      text-align: center;
    }
  }

/*Responsive on 4K screen*/
@media (min-width:1441px) {
  .box{
    height: 257px;
  }
  .box1, h1{
    font-size: 100px;
    text-align: center;
  }
  .box2 img{
    width: 224px;
    margin-left: -70px;
  }

  .box3 img {
    width: 100%;
    height: 320px;
  }
  .box3{
    width: 40%;
    height:350px;
  }
  .box3, .box3 img{
    padding-bottom:30px;
  }
  .box4{
    margin-left: 100px;
    height: 350px;
  }
  .box5{
    height:420px;
  }
  h2{
    font-size: 50px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 20px;
    margin-left: -80px;
    margin-top: 40px;
  }
  p{
    font-size: 30px;
    margin-left: -80px;
    margin-top: 30px;
  }
  table {
    height: 250px;
  }
  th{
    font-size: 30px;
  }
  td, h5{
    font-size: 30px;
  }
  h6{
    font-size: 50px;
    text-align: center;
  }
  .box5{
    height: 500px;
    eight: 500px;
    width: 99.5%;
  }
  .box6{
    height: 100px;
  }
  .box7, .box9, .box11{
    font-size: 30px;
    padding-left: 30px;
    margin: 22px;
    width: 14%;
  }
  .Bokaap{
    padding-top: 645px;
    margin-left: 358px;
    font-size: 30px;
  }
  .city {
    font-size: 30px;
    margin-top: -44px;
    margin-left: 1143px;
  }
  .District{
    font-size: 30px;
    margin-top: -54px;
    margin-left: 1939px;
  }
  .box8{
    margin-top: 29px;
  }
  .box10{
    margin-top: 29px;
  }
  .box12{
    margin-top: 29px;
  }
  .box8 img, .box10 img, .box12 img{
    height: 257px;
  }
}