* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body, html {
  width:100%;
  height: 100%;
  background-color: #3AAFA9;
  margin: 5px;
}

.container{
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.box{
  width: 50%;
  height: 140px;
  float:left;
}
.box1{
  background-color: #3AAFA9;
  text-align: center;
  padding-top: 20px;
}
.box2{
  background-color: #3AAFA9;
  height: 140px;
  text-align: left;
}
.box2 img{
  width: 160px;
}
.box3, .box3 img{
  background-color: #3AAFA9;
  width: 50%;
  height: 160px;
  text-align: left;
}
.box4, p{
  background-color: #3AAFA9;
  height: 160px;
  font-family: cursive;
  font-size: 82%;
}
.box5{
  background-color: #3AAFA9;
  height: 160px;
}
table, th, td{
  border: solid;
  border-collapse: collapse;
  width: inherit;
  margin-bottom: 10px;
}

/*Historical Places*/
ul{
  color: black;
}
h4 {
  color: black;
}
h5{
  font-family: fantasy;
}
h6{
  font-family: fantasy;
}

.box6{
  background-color: #3AAFA9;
  height: inherit;
  font-style: italic;
  font-size: 120%;
}
/*Historical Places Text 1*/
.box7{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 1*/
.box8, .box8 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
/*Historical Places Text 2*/
.box9{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 2*/
.box10, .box10 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
/*Historical Places Text 3*/
.box11{
  background-color: #3AAFA9;
  padding-left: 20px;
}
/*Historical Places Image 3*/
.box12, .box12 img{
  background-color: #3AAFA9;
  width: 100%;
  height: 140px;
}
.clearfix{
  clear: both;
}

/*Respondsive Tablet*/
@media (max-width:768px) {
  .box3, .box4, .box5, .box6{
    width: 100%;
  }
  .box3{
    height: 200px;
  }
  .box4{
    width:60%;
    height: 170px;
  }
  .box2{
    margin-top: 25px;
  }

  .box7, .box8, .box9, .box10, .box11, .box12{
    width: 50%;
    font-size: 16px;
  }
  .box8 img, .box12 img{
    width: 80%;
    margin-left: -5px;
  }
  .box10 img{
  width: 80%;
  margin-left: 25px;
  }
  .box8, .box10, .box12{
    margin-top: 50px;
  }
  .box9, .box10{
    width: 50%;
    float: right;
  }
  .box3 img{
    width:50%;
  }
  .box5{
    width: -20px;
  }
h3{
  margin-bottom: 15px;
}
.place{
  margin-bottom: 15px;
}
p{
  font-size: 9px;
}
h4{
  margin-top: 15px;
  margin-left: -20px;
  margin-bottom: 10px;
}
h6{
  font-size: 20px;
  text-align: center;
}
}
/*MOBILE SMALL*/
@media (max-width:320px) {
  .box2 img{
    width: 100%;
  }
  .box7, .box8, .box9, .box10, .box11, .box12{
    height: 165px;
  }
  .box8, .box10, .box12{
    margin-top: 45px;
    width: 50%;

  }
  .box8 img, .box10 img, .box12 img{
    width: 80%;
    margin-left: 10px;

  }
  .box4{
    height: 175px;
  }
  .box5{
    margin-bottom: 20px;
    height: 190px;
  }
  h3{
    margin-bottom: 15px;
  }
  .place{
    margin-bottom: -5px;
  }
  p{
    font-size: 10.5px;
  }
  h4{
    margin-top: 15px;
    margin-left: -20px;
    margin-bottom: 10px;
  }
}
/*Respondsive on Laptop*/
@media (min-width:769px){
  .box1, .box2{
    height:200px;
    font-size: 25px;
  }
  .box2{
    margin-top: 20px;
    margin-left: -80px;
  }
  p {
    font-size: 9px;
    margin-left: -10px;
  }
  .box3 img{
    height:200px;
    width: 66.67%;
  }
  .box3{
    height:200px;
    width: 50%;
  }
  .box3, .box3 img{
    padding-bottom:30px;
  }
  .box4 {
    margin-top: -40px;
    width: 50%;
    margin-left: -120px;
  }

  .box5{
    width: 100%;
    height: 200px;
  }
  .box6{
    width: 100%;
    height: 70px;
  }
  h3{
      padding-top: 20px;
      margin-left: -10px;
  }
  .box7, .box8, .box9, .box10, .box11, .box12{
    width: 16.6666667%;
    height:250px;
  }

  h3{
    margin-top:15px;
  }
  .place{
    margin-top: -5px;
    margin-bottom: 15px;
  }
  h4{
    margin-top: 15px;
    margin-left: -20px;
    margin-bottom: 10px;
  }
  .box8,.box10,.box12{
    margin-top: 45px;
  }
  h6{
    font-size: 30px;
    text-align: center;
  }
}


/*Mobile Meduim */
@media (max-width:425px) {
  .box2 img{
    width: 100%;
  }
  .box7, .box8, .box9, .box10, .box11, .box12{
    height: 165px;
  }
  .box8, .box10, .box12{
    margin-top: 45px;
    width: 50%;

  }
  .box8 img, .box10 img, .box12 img{
    width: 80%;
    margin-left: 10px;

  }
  .box4{
    height: 175px;
  }
  .box5{
    margin-bottom: 20px;
    height: 190px;
  }
  h3{
    margin-bottom: 15px;
  }
  .place{
    margin-bottom: -5px;
  }
  p{
    font-size: 7px;
  }
  h4{
    margin-top: 15px;
    margin-left: -20px;
    margin-bottom: 10px;
  }
  }
  /*Respondsive on Laptop Large*/
  @media (min-width:1025px){
    .box1, .box2{
      height:200px;
      font-size: 25px;
    }
    .box2{
      margin-top: 20px;
      margin-left: -160px;
    }
    p {
      font-size: 13px;
    }
    .box3 img{
      height:200px;
      width: 66.67%;
    }
    .box3{
      height:200px;
      width: 50%;
    }
    .box3, .box3 img{
      padding-bottom:30px;
    }
    .box4 {
      margin-top: -40px;
      width: 50%;
      margin-left: -160px;
    }

    .box5{
      width: 100%;
      height: 200px;
    }
    .box6{
      width: 100%;
      height: 70px;
    }
    h3{
        padding-top: 20px;
    }
    .box7, .box8, .box9, .box10, .box11, .box12{
      width: 16.6666667%;
      height:250px;
    }

    h3{
      margin-top:15px;
    }
    .place{
      margin-top: -5px;
      margin-bottom: 15px;
    }
    h4{
      margin-top: 15px;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    .box8,.box10,.box12{
      margin-top: 45px;
    }
    h6{
      font-size: 30px;
      text-align: center;
    }
  }

/*Responsive on 4K screen*/
@media (min-width:1441px) {
  .box{
    height: 257px;
  }
  .box1, h1{
    font-size: 100px;
    text-align: center;
  }
  .box2 img{
    width: 220px;
    margin-left: -30px;
  }

  .box3 img {
    width: 100%;
    height: 320px;
  }
  .box3{
    width: 40%;
    height:350px;
  }
  .box3, .box3 img{
    padding-bottom:30px;
  }
  .box4{
    margin-left: 100px;
    height: 350px;
  }
  .box5{
    height:420px;
  }
  h2{
    font-size: 50px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 20px;
    margin-left: -80px;
    margin-top: 40px;
  }
  p{
    font-size: 23px;
    margin-left: -80px;
  }
  table {
    height: 250px;
  }
  th{
    font-size: 30px;
  }
  td, h5{
    font-size: 30px;
  }
  h6{
    font-size: 50px;
    text-align: center;
  }
  .box5{
    height: 500px;
  }
  .box6{
    height: 100px;
  }
  .box7, .box9, .box11{
    font-size: 30px;
    padding-left: 30px;
  }
  .box8 img, .box10 img, .box12 img{
    height: 257px;
  }
